body {
    font-family: Arial, sans-serif;
    background-color: #2a92fa;
    margin: 0;
    padding: 20px;
  }

  .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  gap: 20px;
  width: 100%;      /* full screen width */
  overflow-x: hidden; /* no horizontal scroll */

}

  .tile {
    background-color: rgb(255, 255, 255);
    border-color: bisque;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    padding: 10px;
  }

  .tile:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(153, 15, 15, 0.15);
  }

  /* Example of tiles with different sizes */
  .tile.wide { grid-column: span 2; }
  .tile.tall { grid-row: span 2; }
  .tile.big  { grid-column: span 4;grid-row: 7; }